  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
html {
  background-color: #f6efe9;
  font-family: "Quicksand", sans-serif;
  min-height: 100%;
}

a:visited, a:link {
  color: #000;
}

#topnav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #f6efe9;
    flex-wrap: wrap;
    position: relative;
}

.logo> img{
    width: 100px;
    height: 100px;
}

#search-container{
    display: flex;
    align-items: center;
    padding: 0px 6px;
    border: none;
    font-size: 17px;
    width: 400px;
}


form#search-container input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    max-height: 41.5px;
}

button.search {
    float: right;
    width: 20%;
    padding: 10px;
    background: #f6efe9;
    color: #000;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    max-height: 41.5px;
}

div.header-action{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100px;
}

a.cart, i > figcaption{ 
    /* figcaption ở đâu?? */
    position:absolute;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

button#cart {
  border: none;
  background: none;
  cursor: pointer;
}

#dropdown-under-nav{
    display: flex;
    justify-content: space-evenly;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  li a, .dropbtn {
    display: inline-block;
    background-color: #f6efe9;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px none;
    font-size: 1rem;
}

  li.dropdown {
    display: inline-block;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f6efe9;
    color: #5c4a4a;
    font-style: italic;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn:hover i{
    transform: rotate(90deg);
  }

  #freeship {
    font-size: 20px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 15px;
  }

  .red-word {
    color: var(--word-color);
    font-style: italic;
  }

  /* carousel */
  .galery > img {
    width:100px;
    height: 100px;
  }

  .gallery .owl-item {
    transform: scale(0.7) !important;
    transition:0.4s;
  }

  .gallery .owl-item.active.center {
    transform: scale(1) !important;
  }

  .gallery .owl-item.near {
    transform: scale(0.5) !important;
  }

  .gallery .owl-item.next {
    transform: scale(0.5) !important;
  }

  .gallery .owl-item.last {
    transform: scale(0.4) !important;
  }

  .gallery .owl-item.lastest {
    transform: scale(0.4) !important;
  }

  #body-wrap{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  /* footer */
  #footer{
    background-color: #8b6868;
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 1vw 0;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--main-color);
}

.modal-content {
  margin: 0 auto;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--word-color);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  color: var(--main-color);
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: var(--word-color);
  border-color: wheat;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: var(--main-color);;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: var(--word-color);
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--main-color);
  margin-right: 20px;
}

.cart-total-price {
  color: var(--main-color);
  font-size: 1.1em;
}

